@font-face {
  font-family: Futura;
  src: url("../fonts/futura/FuturaMedium.ttf");
}
/* General */
body, h1, h2, h3, p {
    font-family: Futura;
}
#fp-nav {
    @media (max-width: 480px) {
        margin-left: -10px;
    }
}
h1 {
    @media (max-width:768px) {
        font-size: 6vw;
    }
    @media (max-width:768px) {
        font-size: 12vw;
    }
    color:white;
    font-size:160px;
    font-size: 8vw;
    font-style: italic;
    margin-bottom: 0px;
}
h2 {
    @media (max-width:768px) {
        font-size: 5vw;
    }
    font-size: 48px;
    font-size: 3vw;
}
h3 {
    font-size: 20px;
    font-size: 2vw;
    font-weight: bold;
    font-style: italic;
}
h4 {
    @media (max-width:768px) {
        font-size: 5vw;
    }
    font-size: 64px;
    font-size: 4vw;
    font-style: italic;
}
.lead {
    @media (max-width:768px) {
        margin-bottom: 5px;
        font-size: 4vw;
    }
    margin-bottom: 15px;
    font-size: 20px;
    font-size: 2vw;
}
.not_lead {
    @media (max-width:768px) {
        margin-bottom: 5px;
        font-size: 4vw;
    }
    font-size: 15px;
    font-size: 1.5vw;
    font-style: italic;
}
.not_h2 {
    @media (max-width:768px) {
        font-size: 5.5vw;
    }
    font-size: 56px;
    font-size: 4vw;
}
.form_item_title {
    font-style: normal;
}
.text-centered {
    text-align: center;
    vertical-align: middle;
}
.grow_good_text {
    @media (max-width:768px) {
        font-size: 8vw;
    }
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    color:black;
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    font-size: 4vw;
}
/* Section maintenance */
#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background:
    white;
    z-index:9999;
}
.bg {
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.square_box, .side_box {
    @media (max-width:768px) {
        margin-bottom: 5px;
        padding: 5px;
    }
    margin-bottom: 15px;
    padding: 15px;
}
.bg_gradient {
    background: linear-gradient(to bottom, #B5A2FF, #00A86B);
}
.bg_box {
    background: #FFFFFF;
    @media (max-width:768px) {
        padding: 15px;
    }
    padding: 30px;
    box-sizing: inherit;
    height: 100%;
}
.square_container {
    @media (min-width:769px) {
        position: relative;
        width: 100%;
        padding-top: 100%; /* 4:3 Aspect Ratio */
    }
}
.square_box {
    @media (min-width:769px) {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; 
    }
    margin: 0px;
}
.bgL {background-image: url("../img/bg_leaves_darker.jpg");}
.bg2 {background-color:white;}
.bg4 {background: linear-gradient(to bottom,rgba(0,0,0, 0),rgba(181,162,255, 100)),url("../img/bg_leaves_darker.jpg");}
.bg5 {background: linear-gradient(to bottom, #B5A2FF, #00A86B)}

.white {color: white;}

.page4_item {
    @media (max-width:768px) {
    max-width:12vh;
    max-height:12vh;
    }
}
.vertical-center-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.section-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
}
.grow_good_row, #grow_good_row {
    box-sizing: content-box;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
#fp-nav ul li a span {
    color: #B5A2FF;
    background: #B5A2FF;
}
.tab-base {
    padding-top:0px;
}
.section-content .row {
    width: 90%;
    margin-left: 5%;
}
.row {
    @media (max-width:768px) {
        margin-bottom: 5px;
    }
    margin-bottom: 30px;
}
.small_bot {
    @media (max-width:768px) {
        margin-bottom: 5px;
    }
    margin-bottom: 15px;
}
.no_bot{
    margin-bottom: 0px;
}
.form_line {
    @media (max-width:768px) {
        margin-bottom: 0px;
    }
    margin-bottom: 10px;
}

/* FORM */
.form-control, #form_name, #form_email, #form_message {
    -webkit-appearance: textfield;
    border-radius: 0rem;
    border-color: white;
    background: rgba(255,255,255,0.0);
    color: rgba(255,255,255,1.0);
}
#form_name, #form_email {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.btn-form{
    background-color:white;
    border-color:#B5A2FF;
    color:#B5A2FF;
    font-size: 20px;
    border-radius:0rem;
}


/* Art */
#overlay {
    position: relative;
    background-color: rgba(230, 230, 230, 0.8);
    z-index: 2;
    cursor: pointer;
    padding-top: 10px;
}
.artcontainer {
    position: absolute;
    top: 200vh;
    left: 75px;
    right: 75px;
}

/*GAL*/
.gal {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}
